@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    background-color: rgb(18, 66, 30);
    font-family: "Gill Sans", sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

/* Navigation */

nav {
    background-color: rgb(18, 66, 30);
    padding-left: 2%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 0;
    width: 100%;
    font-size: 90%;
    position: sticky;
    box-sizing: border-box;
    filter: drop-shadow(1px 1px 5px rgb(53, 53, 53));
}

nav ul {
    display: flex;
    padding-left: 0;
    width: 100%;
}

nav ul a {
    color: whitesmoke;
    text-decoration: none;
    padding-right: 2rem;
}

nav a:hover {
    color:rgb(206, 206, 206)
}

nav ul:before {
    content: "";
    width: 5rem;
    height: 2rem;
    background-image: url(../panda.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

/* Header */

header {
    background-image: url(../doe.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.headertext {
    text-align: center;
    color: white;
    font-size:calc(8vw);
}

main {
    background-color: aliceblue;
    padding: 2%;
}

section {
    flex-direction: column;
}

section a {
    text-decoration: none;
    font-weight: bold;
    color:seagreen;
}

section a:hover {
    color: rgb(60, 180, 112);
}

section a:visited {
    color:rgb(104, 11, 141);
}

footer {
    display: flex;
    background-color: rgb(18, 66, 30);
    color: whitesmoke;
    font-size: 90%;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer a {
    text-decoration: none;
    color:aliceblue;
}

footer a:hover {
    color:rgb(199, 215, 230);
}

aside {
    float: right;
    padding-left: 10px;
    width: 50%;
    height: auto;
}

img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

dl {
    padding: 1rem;
}

dt {
    font-weight: bold;
}

button {
    background-color: seagreen;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}

button:hover {
    transition: 2s;
    transform:rotate(360deg);
}

button a, button a:visited {
    color: white;
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: rgb(102, 194, 163);
}

tr {
    max-width: 80%;
}

tr, td, th {
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
}

tbody tr:nth-child(even) {
    background-color: rgb(167, 236, 213);
}

tbody tr:nth-child(odd) {
    background-color: aliceblue;
}

/* Forms - former*/
/* 
form {
    background-color: rgba(25, 107, 80, 0.24);
    border-radius: 5px;
    padding: 2rem;
    box-sizing: border-box;
}

form div {
    padding-bottom: 1rem;
}

input {
    width: 80%;
    border-radius: 5px;
    border-style: none;
}

textarea {
    width: 80%;
    border-radius: 5px;
    border-style: none;
}

[type=submit], [type=reset] {
    background-color: seagreen;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    height: 30px;
}

[type=submit]:hover, [type=reset]:hover {
    background-color: rgb(60, 180, 112);
}

[type=date], [type=time] {
    width: auto;
}

[type=radio] {
    width: auto;
} */

/* Form Responsive */

.form {
    width: 90%;
    padding: 2rem;
    margin: auto;
    box-shadow: 0 0 .2rem #ababab;
    border-radius: 0.25rem;
}

.form ul {
    padding-left: 0;
}

.form li {
    margin-bottom: 1em;
    list-style-type: none;
}

.form li label {
    padding: 0.5rem 2re 0.5rem 0rem;
    display: block;
}

.form li input, .form li textarea {
    padding: 1rem;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 0.25rem;
    font: inherit;
    transition: all 0.4s;
}

.form input:focus, .form textarea:focus {
    border-color: #80b4ff;
    outline: 0;
    box-shadow: 0 0 0 .2rem #b5c9ed;
}

.form li button {
    padding: 0.5rem 1rem;
    border: none;
    background: #333;
    color: #f2f2f2;
    font: inherit;
    border-radius: 0.25rem;
}

@media screen and (min-width: 900px) {

    .form {
        max-width: 50rem;
        padding: 2em;
    }

    .form li {
        display: flex;
    }

    .form li label {
        flex: 1 0 25%;
    }

    .form li input, .form li textarea {
        flex: 1 0 75%;
    }

    .form li button {
        margin-left: auto;
    }
}

/* Flex Box */

.flex-box {
    display: flex;
    flex-direction: column;
}

.flex-box-row {
    display: flex;
    flex-direction: row;
}

/* Classes */

.no-dot {
    list-style-type: none;
}

h1::first-letter, h2::first-letter {
    font-family: "Anton", sans-serif;
    color:rgb(18, 66, 30);
    font-size: 150%;
}

.pb {
    padding-bottom: 1rem;
}

.pb-b {
    padding-bottom: 2rem;
}
.big-title {
    font-size:200%;
}

.text-b {
    font-size: 120%;
}

.img-desc {
    font-size: 90%;
    text-align: center;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.hidden {
    display: hidden;
    border: none;
}

.centered-box {
    justify-content: center;
    align-items: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.margin-left-25 {
    margin-left: 25%;
}

.padding-left-25 {
    padding-left: 25%;
}

.padding-left-5 {
    padding-left: 5%;
}

.padding-right-5 {
    padding-right: 5%;
}

.center {
    text-align: center;
}
.left {
    text-align: left;
}

.block {
    text-align: justify;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.pdrten {
    padding-right: 10rem;
}

.half {
    max-width: 50%;
}

.overflow {
    overflow-x: auto;
}

.roman {
    list-style-type: upper-roman;
}

.square {
    list-style-type: square;
}

.column-2 {
    column-count: 2;
    width: 100%;
}

.card {
    padding: 2%;
    border: 2px solid black;
    background-color:rgb(201, 252, 223);
    border-radius: 5px;
    margin: 2em;
}

.fixed-footer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
}

.titled-img {
    position: relative;
    background-image: url(../img/giraffe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;  
}

.img-title {
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    color: white;
    padding: 3em;
}

@media screen and (max-width: 900px) {
    .half {
        max-width: 100%;
    }

    iframe {
        max-width: 90%;
    }

    .flex-box {
        flex-wrap: wrap;
        width: 100%;
    }

    .flex-box-row {
        flex-wrap: wrap;
        width: 100%;
    }
}