html {
    background-color: black;
    font-family: "Gill Sans", sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

/* Navigation */

nav {
    background-color: black;
    padding-left: 2%;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 90%;
}

nav ul {
    padding-left: 0;
    width: 100%;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    padding-right: 2rem;
}

nav a:hover {
    color:rgb(206, 206, 206)
}

/* Main */

main {
    display: block;
    background-color:whitesmoke;
    color: rgb(0, 0, 0);
    padding: 1%;
    margin-top: 45px;
}

/* Image, Video & iFrame */

img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

video {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: flex;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

footer {
    display: flex;
    background-color: black;
    color: whitesmoke;
    font-size: 90%;
}

/* Article */

article {
    margin-left: auto;
    margin-right: auto;
}

header {
    font-size: 170%;
    padding-bottom: 15px;
    font-weight: bolder;
}

section {
    padding-bottom: 10px;
}

/* Aside */

aside {
    float: right;
    padding-left: 1rem;
    margin-left: 1rem;
    width: 40%;
}

/* Flex boxes */

.flex-box {
    display: flex;
    flex-direction: column;
}

.flex-box-row {
    display: flex;
    flex-direction: row;
}

.flex-item {
    padding-right: 2%;
    padding-left: 2%;
}

.flex-item-footer {
    padding-right: 2%;
    padding-left: 2%;
    width: 50%;
}

/* Global Classes & Elements */

hr {
    max-width: 80%;
}

blockquote {
    font-style: italic;
}

cite {
    font-weight: bold;
    color: rgb(219, 219, 219);
}

dfn {
    color: rgb(133, 52, 6);
}

h1 {
    margin-top: 4rem;
}

.ptb {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.img-desc {
    font-size: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.small {
    max-width: 30%;
}

.mid {
    max-width: 50%;
}

.big {
    max-width: 80%;
}

.pb {
    padding-bottom: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mt {
    margin-top: 1rem;
}

.bordered{
    border: 2px solid grey;
}

.dark-bg {
    background-color: rgba(204, 179, 179, 0.432);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(150, 169, 169, 0.432)
}

.no-dot {
    list-style-type: none;
}

.strong {
    font-weight: bold;
}

.center {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center-top-bottom {
    margin-top: auto;
    margin-bottom: auto;
}

.justify-right {
    justify-content: right;
}

.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.align-left {
    align-items: left;
}

.align-right {
    align-items: right;
}

.align-stretch {
    align-items: stretch;
}

.align-center {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.rounded {
    border-radius: 5px;
}

.float-left {
    float: left;
    max-width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
}

@media screen and (max-width: 720px) {
    main, nav {
        font-size: smaller;
    }

    footer {
        font-size: smaller;
        display: block;
    }

    article {
        width: auto;
    }

    section {
        width: auto;
    }

    .flex-box {
        width: auto;
        flex-wrap: wrap;
    }

    .flex-box-row {
        width: auto;
        flex-wrap: wrap;
    }

    .flex-item {
        width: auto;
        flex-wrap: wrap;
    }

    .flex-item-footer {
        width: 100%;
        flex-wrap: wrap;
    }

    .mobile-hide {
        display: none;
    }
    
}